body {
    background-color:whitesmoke
}

.cssLabels{
    color: black;
    font-family: 'Courier New';
    font-size: 16px;
    margin-right: 15px;
    float:left;
}

.cssGrid{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-right: 15px;
}

#gridHabitDisponibles, #gridHabitNoDisponibles{
    width:500px;
    margin-top:15px;
}

#listadoHabitaciones{
    float:left;
    width: 1100px;
}

#div_NOdisponibles{
    float:right;
}

#div_disponibles{
    float:left;
}

#BuscarHabitacion{
    margin-bottom:15px;
}

#div_errorCamas{
    height: 60px;
}

#p_res{
    margin: 0;
}

#div_cantidades{
    width:300px;
}

#txt_cant_singles{
    margin-left:47px;
}

#p_servicios{
    font-size:20px;
    text-align:center;
}

#div_p_servicio{
    width:500px;
    margin:0 auto;
}

#div_p_habs{
    width:570px;
    margin:0 auto;
}

#datos_servicios{
    margin:0 auto;
    margin-top:30px;
    width:500px;
}

#mensaje{
    font-family:Cambria;
    margin-left:8px;
    float:right;
}

#div_contr{
    width:760px;
    margin-top:5px;
}

#div_datos{
    margin:0 auto;
    width:550px;
}

#btn_cancelar{
    width:129px;
}

#div_btn_cancelar, #div_btn_volver{
    width: 150px;
    float:right;
    margin-bottom:5px;
}

#grid_habitaciones_disponibles, #grid_habitaciones_no_disp{
    text-align:center;
    margin:0 auto;
    width:800px;
    margin-bottom:30px;
}


#serviciosContainer{
    text-align:center;
    margin:0 auto;
    width:900px;
    margin-bottom:50px;
}

#Content_derivadas_div_mostrarDinero{
    margin-left:35px;
}

#Content_derivadas_div_gridview2{
    margin-top:30px;
    float:left;
    width:900px;
}

#div_instruccionEliminar{
    height:55px;
    margin: 0 auto;
    width:300px;
}
#p_instrucc{
    font-size:17px;
}

#GridView1, #table1{
    margin: 0 auto;
    margin-top:20px;
    width:700px;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#Content_derivadas_GridView2{
    width:550px;    
    margin: 0 auto;
    padding-top:15px;
    text-align:center;
}

.validators{
    font-family: 'Courier New';
    color: red;
    font-size: 12px;
}

#div_errorCotiz{
    float:left;
    margin-top:16px;
}

#titulo{
    margin:0 auto;
    margin-bottom:15px;
    color: #000080;
    font-family:Courier New, Courier, monospace;
    font-size: 19px;
}

#btn_volver{
    width:80px;
    height:25px;
    margin-top:10px;
    margin-right:10px;
}

#div_volver{
    float:right;
}

#div_p_listaRes{
    margin: 0 auto;
    margin-bottom:15px;
    width:525px;
}

#div_eliminar_reservas{
    margin-top:55px;
    width:150px;
    float:right;
}

#btn_eliminar{
    width:150px;
    height:25px;
}

#txt_documento, #txt_CP{
    margin-left:21px;
    margin-right: 3px;
}

#div_listarReservasLink{
    width:220px;
    float:right;
}

#drp_paisResid{
    margin-left:2px;
    margin-right: 3px;
}

#txt_dptoProv, #txt_dptoProv2 {
    margin-left:12px;
    margin-right: 3px;
}

#txt_venta{
    margin-left:9px;
}

#txt_documento2 {
    margin-left:59px;
}

#txt_nombre, #txt_ciudad, #txt_nombre2, #txt_ciudad2{
    margin-left:87px;
}

#Label_res2, #div_P, #div_H{
    margin-left: 15px;
}

#txt_dir1, #txt_dir2, #drp_Pais2 {
    margin-left:39px;
}

#txt_dir1, #txt_dir2, #txt_nombre, #txt_ciudad, #txt_dptoProv, #txt_nombre2, #txt_ciudad2, #txt_dptoProv2{
    width:441px;
}

#div_loginAdmin, #h1_editTitle, #h1_inputTitle, #div_errorMessageDiv, #div_3,  #div_11, #h1_titleHome{
    text-align:center;
}

#div_1, #div_2, #div_4, #div_5, #div_6, #div_7, #div_10, #div_9, #div_8 {
    margin: 0 auto;
    width:620px;
}

#div_loginAdmin{
    margin: 0 auto;
    width:286px;
}

#div_errorMessageDiv{
    height:50px;
}

#div_errorMessageDiv2{
    height:80px;
    text-align:center;

}

#div_cerrarSesion, #btn_commit {
    float:right;
}

#div_right{
    width:350px;
    float:right;
}

#grid_view_habitaciones{
    margin-top:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#grid_view_habitaciones th{
    font-weight:600;
}

#hola{   /*aca*/
    margin: 0 auto;
    margin-top:60px;
    width:1232px;
    height:350px;
    background-color: #dfe2e6;
    border-color:#e8eaed;
    border-width: 1px;
    border-style:solid;
    border-radius:15px;
}

#Content_derivadas_hola2{
    margin: 0 auto;
    margin-top:30px;
    margin-left:15px;
    border-color:#e8eaed;
    border-width: 1px;
}

#div_left{
    float:left;
    width:350px;
}

#datepickerFrom{
    margin-left:40px;
}

#div_0{
    width:150px;
    float:right;
}

#LinkLoginAdmin{
    color: black;
    font-family: 'Courier New';
    font-size: 12px;
    float:right;
    margin-right:10px;
}

#div_sideCotizacion, #div_btnVolver{
    margin: 0 auto;
    margin-right:30px;
    width:286px;
    float:right;
}

#Content_derivadas{
    margin: 0 auto;
    float:left;
    width:400px;
}

#div_panel{
     margin: 0 auto;
     float:left;
     width:1000px;
     height:500px;
     background-color: #dfe2e6;
     border-color:#e8eaed;
     border-width: 1px;
     border-style:solid;
     border-bottom-right-radius:30px;
     border-top-right-radius:30px;
     border-top-left-radius:10px;
     border-bottom-left-radius:10px;
}

#div_reservas, #div_habitaciones, #div_dinero{
    height:50px;
    margin-top:55px;
    margin-left:35px;
}

#h_dolar {
    color: navy;
    font-family: 'Courier New';
    font-size: 16px;
    text-align:center;
    margin: 15px 0px;
}

#p_panel, #p_reservasAdmin{
    color: navy;
    font-family: 'Courier New';
    font-size: 20px;
    text-align:center;
    margin: 15px 0px;
}

#p_panel{
    font-weight:600;
}

#btn_commit {
    margin-top:15px;
}

#txt_compra, #txt_venta{
    padding-left: 3px;
}

#div_textPanel{
    width:250px;
    margin: 0 auto;
    margin-bottom:50px;
}

#div_cerrarSesion{
    margin: 0 auto;
}

#LnkCerrarSesion{
    margin-right:8px;
}

.csslinks:hover{
    background-color: whitesmoke;
}

#div_p_reservasAdmin{
    width:300px;
    margin: 0 auto;
}

#div_tipoHab {
    margin-top:18px;
    width:700px;
}

#div_inputConsulta{
    margin-top:70px;
    float:none;
    width:700px;
}

#div_H{
    margin-top:70px;
    width:700px;
}

#div_p_reservasAdmin2{
    width:300px;
    margin: 0 auto;
    padding-bottom:40px;
}

#div_LH{
    margin: 40px auto 0px auto;
    width:700px;
}

#btn_buscarRes{
    width: 60px;
}